## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
#random.sample(what, how many) -> random.sample(population, k, *, counts=None)
#{Return a k length list} of ->UNIQUE<- elements chosen from the population sequence or set.

sample_list_1 = random.sample(range(100), 80)
print(sample_list_1, "Len:",len(sample_list_1))

[8, 39, 6, 5, 73, 46, 81, 51, 54, 19, 90, 71, 36, 11, 42, 43, 2, 33, 76, 84, 49, 87, 45, 10, 64, 15, 7, 70, 47, 75, 74, 83, 26, 14, 65, 67, 57, 35, 32, 55, 20, 9, 48, 99, 69, 80, 97, 98, 82, 21, 91, 63, 40, 93, 23, 29, 24, 78, 56, 38, 53, 52, 12, 58, 96, 13, 62, 3, 60, 30, 66, 92, 79, 4, 77, 50, 18, 37, 0, 89] Len: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = set(sample_list_1)

print(set1,"\nStill 80?",len(set1) == 80) #yep, still 80. 
# .sample gives unique items only for the given population. So if k is bigger than population it will give us an error

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 23, 24, 26, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 89, 90, 91, 92, 93, 96, 97, 98, 99}
Still 80? True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# random.randrange(start, stop[, step]) = Return a randomly selected element from range(start, stop, step).
# random.randrange(stop)
sample_list_2 = [random.randrange(100) 
                 for i in range(80)]

print(sample_list_2)

[78, 93, 25, 84, 89, 20, 0, 96, 51, 98, 78, 34, 86, 87, 16, 8, 48, 0, 43, 12, 32, 42, 89, 29, 96, 74, 54, 90, 15, 22, 39, 53, 71, 54, 59, 32, 26, 24, 95, 74, 93, 27, 27, 0, 49, 8, 57, 3, 71, 85, 63, 78, 87, 92, 43, 41, 58, 75, 52, 72, 19, 50, 42, 2, 23, 65, 57, 88, 80, 72, 44, 53, 87, 47, 61, 42, 88, 31, 78, 80]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
set2 = set(sample_list_2)
print(set2, "\nStill 80?",len(set2) == 80,"-> now is",len(set2))

{0, 2, 3, 8, 12, 15, 16, 19, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 34, 39, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 59, 61, 63, 65, 71, 72, 74, 75, 78, 80, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 98}
Still 80? False -> now is 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
set3 = set1 - set2
print("set3",set3,"\n")

set3 {4, 5, 6, 7, 9, 10, 11, 13, 14, 18, 21, 30, 33, 35, 36, 37, 38, 40, 45, 46, 55, 56, 60, 62, 64, 66, 67, 69, 70, 73, 76, 77, 79, 81, 82, 83, 91, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = set2 - set1
print(set4)

{34, 72, 41, 59, 44, 16, 85, 22, 86, 88, 25, 27, 61, 95, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
set5 = set1.intersection(set2)

print(set5)

{0, 2, 3, 8, 12, 15, 19, 20, 23, 24, 26, 29, 32, 39, 42, 43, 47, 48, 49, 50, 51, 52, 53, 54, 57, 58, 63, 65, 71, 74, 75, 78, 80, 84, 87, 89, 90, 92, 93, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

#### Create an empty set called `set6`.

In [18]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python set `.update` method.

In [ ]:
print(set3)

In [ ]:
print(set5)

In [19]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 23, 24, 26, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 89, 90, 91, 92, 93, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
print("Is set1 = to set6?",set1==set6)

Is set1 = to set6? True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
print("Set1 contains set2?", set2.issubset(set1))
print("set1 contains set3?", set3.issubset(set1))

Set1 contains set2? False
set1 contains set3? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
print("set3 U set4 U set5\n",set.union(set3,set4,set5),"\n") 

print("set3 U set4 U set5 U set1 U set2\n",set.union(set3,set4,set5,set1,set2),"\n") 

print("'set3 U set4 U set5' = 'set3 U set4 U set5 U set1 U set2'?", set.union(set3,set4,set5) == set.union(set3,set4,set5,set1,set2))

#set3,4,5 = set1,2

set3 U set4 U set5
 {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

set3 U set4 U set5 U set1 U set2
 {0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

'set3 U set4 U set5' = 'set3 U set4 U set5 U set1 U set2'? True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here
print(set1,"\n")
set1.pop() #The element that is the smallest in the set is removed first followed by removing elements in increasing order.
print(set1,"\n")

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 23, 24, 26, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 89, 90, 91, 92, 93, 96, 97, 98, 99}

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 23, 24, 26, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 89, 90, 91, 92, 93, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for n in list_to_remove: 
        if n in set1: 
            set1.remove(n)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 18, 20, 23, 24, 26, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 87, 90, 92, 93, 96, 97, 98}